<div>
  <!-- THIS IS ADD MODAL -->
  <div class="modal fade addStudent" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Modal content -->
          <h1 align="center">เพิ่มนิสิต</h1>

          <form method="post" action="/manageStudent/post">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="ชื่อผู้ใช้(รหัสนิสิต)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="password" placeholder="รหัสผ่าน">
            </div>

            <div class="form-group">
              <select class="form-control" id="sel1" name="prefixName">
                <option>นาย</option>
                <option>นางสาว</option>
                <option>นาง</option>
              </select>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="ID" placeholder="รหัสนิสิต">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="firstName" placeholder="ชื่อ">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="lastName" placeholder="นามสกุล">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="faculty" placeholder="คณะ">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="major" placeholder="สาขา">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="year" placeholder="ชั้นปี">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="branch" placeholder="สาย">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="sector" placeholder="กลุ่มเรียน">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- END OF ADD MODAL -->
</div>

<!-- THIS IS UPDATE MODAL -->
<div class="modal fade updateStudent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Modal content -->
        <h1 align="center">แก้ไข</h1>

        <form method="post" action="/manageStudent/update/">
          <div class="form-group">
            <input type="text" class="form-control" name="_id" id="_id" style="display: none">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editusername" id="editusername">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editID" id="editID">
          </div>
          <div class="form-group">
            <select class="form-control" name="editprefixName" id="editprefixName">
              <option>นาย</option>
              <option>นางสาว</option>
              <option>นาง</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editfirstName" id="editfirstName">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editlastName" id="editlastName">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editfaculty" id="editfaculty">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editmajor" id="editmajor">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="edityear" id="edityear">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editbranch" id="editbranch">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="editsector" id="editsector">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
      </form>
      <!-- End of modal content -->
    </div>
  </div>
</div>
</div>
<!-- END OF UPDATE MODAL -->

<script type="text/javascript">
  var editStudent = (_id,username,prefixName,ID,firstName,lastName,faculty,major,year,branch,sector) => {
    _id: $('#_id').val(_id)
    username: $('#editusername').val(username)
    prefixName: $('#editprefixName').val(prefixName)
    ID: $('#editID').val(ID)
    firstName: $('#editfirstName').val(firstName)
    lastName: $('#editlastName').val(lastName)
    faculty: $('#editfaculty').val(faculty)
    major: $('#editmajor').val(major)
    year: $('#edityear').val(year)
    branch: $('#editbranch').val(branch)
    sector: $('#editsector').val(sector)
  }
</script>